bin/
obj
build/*
.idea
*.orig
test/converted
.vs/
CMakeSettings.json
.vscode
.clangd

!cmake/
cmake/*
!cmake/FindLibLAS.cmake
!cmake/HunterGate.cmake

_3rdParty/
CMakeFiles/

CMakeCache.txt
cmake_install.cmake

AWS/terraform/ansible-provisioning/aws-hosts

aws/env/
env/

ssh_config

.*
!/.gitignore

*.tfstate
*.tfstate.backup
